.header-intro{
    width: 100%;
    height: 100vh;
    background-color: #595959;
}
.session-intro{
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}
.wrap-intro{
    width: 70%;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 0 6px hwb(0 0% 100% / 0.25);
    margin: 125px 0;
}
.pic-intro{
    width: 45%;
    border-radius:20px 0 0 20px;
    /* overflow: hidden; */
}
.pic-intro img{
    width: 100%;
    border-radius:20px 0 0 20px;

}
.txt-intro{
    width: 55%;
    background-color: #fff;
    border-radius: 0 20px 20px 0;
    color: #565656;
    font-family: noto sans;
    letter-spacing: 2px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.txt-intro h3{
    font-size: 24px;
    font-weight: bold;
    margin: 100px 0 10px;
}
.txt-intro span{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 20px;
}
.txt-intro p{
    margin: 0 0 100px;   
}
.cart-intro{
    display: flex;
    justify-content: end;
}
.cart-intro button{
    border: none;
    background-color: #fff;

}
.backToMenu{
    text-decoration: none;
    color: #fff;
    font-family: noto sans;
    letter-spacing: 2px;
    margin: 125px 0;
    height: 20px;
}
.backToMenu span{
    font-family: noto sans;
    letter-spacing: 2px;
    font-weight: bold;
}
.backToMenu:hover{ 
    color: #eb2222;
}
.cart{
    position: sticky;
    left: 100px;
    top: 130px;
}
.cart:hover{
    scale:0.9;
}   
.session-nutrition{
    width: 100%;
    background-image: url(image/bg2.jpg);
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ingredients{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 6px hwb(0 0% 100% / 0.25);
    margin: 125px 0;
    background-color: #fff;
}
.wrap-ingredients{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-family: noto sans;
    letter-spacing: 2px; 
    color: #595959;
    
}
.pic-ingredients{
    width: 50%;
}
.pic-ingredients img{
    width: 100%;
    border-radius: 20px;
}
.txt-left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.txt-right{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-evenly;
}
.nutrition-info{
    /* border-top: solid 1px #595959; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: noto sans;
    letter-spacing: 2px; 
    color: #595959;
}
.container-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 6px hwb(0 0% 100% / 0.25);
    background-color: #fff;
    margin: 100px;
    padding: 0 0 50px;
}
.wrap-nutrition-info{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.info-left{
    display: flex;
    flex-direction: column;
}
.info-left span{
    margin: 0 0 20px;
}
.info-right{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.info-right span{
    margin: 0 0 20px;
}
hr{
    width: 80%;
}